
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">เพิ่ม LineToken</h5>
            <button type="button" class="btn btn-close-modal" (click)="activeModal.dismiss('Cross click')">
                <em class="fa-solid fa-xmark fa-xl"></em>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formModalLineToken" (ngSubmit)="onSubmitModalLineToken()">
                <div class="form-group mt-3 row">
                    <div class="row">
                        <div class="col-12">
                            <label for="token">LineToken</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <input type="text" class="form-control" formControlName="token" id="token"
                                placeholder="กรอก LineToken" />
                            <div class="validation-errors">
                                <ng-container *ngFor="let validation of validation_messages.token">
                                    <div class="error-message"
                                        *ngIf="formModalLineToken.get('token').hasError(validation.type) && (formModalLineToken.get('token').dirty || formModalLineToken.get('token').touched)">
                                        {{
                                        validation.message }}
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3" [disabled]="!formModalLineToken.valid">
                    บันทึก
                </button>
            </form>
        </div>
    </div>