.validation-errors {
    color: red;
    font-size: 14px;
}

.box-content {
    background: var(--color-white);
    border-radius: 4px;
    color: #747678;
    padding: 16px;
    box-shadow: var(--color-light)
}