<div class="box-header my-3">
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;" class="col-12">
            <div class="col-4">
                <!-- <input type="date" class="form-control clsDatePicker" value="2022-08-01" id="txtchangelot"> -->
                <label class="form-label">งวดที่</label>
                <div>
                    <form [formGroup]="formBills">
                        <select formControlName="installment" class="form-select form-select-sm"
                            aria-label=".form-select-sm example" (change)="onInstallmentChange($event)">
                            <option *ngFor="let installment of installmentList; let x = index"
                                [ngValue]="installment.value" class="dropdown-item">
                                {{ installment.label }}
                            </option>
                        </select>
                    </form>
                </div>
            </div>

            <div>
                <!-- <button type="button" class="btn btn-outline-primary btn" (click)="getInstallmentAward()">
                    ดึงข้อมูลผลสลาก
                </button> -->
                <button type="button" class="btn btn-outline-primary btn" (click)="openModal()">
                    บันทึกผลรางวัล
                </button>
                <button type="button" class="btn btn-outline-primary btn" (click)="onCheckReward()">
                    ตรวจบิล
                </button>
                <button type="button" class="btn btn-outline-primary btn" (click)="notifyToLine()">
                    แจ้งเตือนไปที่ LINE
                </button>
            </div>

        </div>
    </div>
</div>

<div class="box-content my-3">
    <div class="row">
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลที่ 1</p>
                <div class="box-flex">
                    <h1 class="count-num-left" style="color: #3564af">
                        {{ installmentNow?.award?.first == undefined ? "รอผล" :
                        installmentNow?.award?.first }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลเลขหน้า 3 ตัว</p>
                <div class="box-flex">
                    <h1 style="color: #3564af">
                        {{ installmentNow?.award?.last3f1 == undefined ? "รอผล" :
                        installmentNow?.award?.last3f1 }}
                    </h1>
                    <h1 style="color: #3564af">
                        {{ installmentNow?.award?.last3f2 == undefined ? "รอผล" :
                        installmentNow?.award?.last3f2 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลเลขท้าย 3 ตัว</p>
                <div class="box-flex">
                    <h1 style="color: #3564af">
                        {{ installmentNow?.award?.last3b1 == undefined ? "รอผล" :
                        installmentNow?.award?.last3b1 }}
                    </h1>

                    <h1 style="color: #3564af">
                        {{ installmentNow?.award?.last3b2 == undefined ? "รอผล" :
                        installmentNow?.award?.last3b2 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-0">
            <div class="card-result">
                <p>รางวัลเลขท้าย 2 ตัว</p>
                <div class="box-flex">
                    <h1 class="count-num" style="color: #3564af">
                        {{ installmentNow?.award?.last2 == undefined ? "รอผล" :
                        installmentNow?.award?.last2 }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-data-table my-3">
    <div class="row mt-3">
        <div class="col-12">
            <ngx-datatable class="material ngx-datatable-daily" #tableBills class="material ngx-datatable-daily"
                [limit]="rowLimit" [loadingIndicator]="isLoadingtablebills" [rows]="billsList" [columnMode]="'force'"
                [headerHeight]="50" [footerHeight]="100" [rowHeight]="'auto'">


                <ngx-datatable-footer>
                    <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize"
                        let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset">
                        <div style="padding: 5px; width: 100%">
                            <div>
                                <strong>รวมทั้งหมด {{ rowCount | number }} คน</strong>
                            </div>
                        </div>
                        <div ngbDropdown container="body">
                            <button type="button" class="btn btn-outline-primary btn-sm" ngbDropdownToggle>แสดง {{
                                rowLimit }} รายการ</button>
                            <ul ngbDropdownMenu>
                                <li>
                                    <button class="dropdown-item" type="button" *ngFor="let limit of LIMITS"
                                        (click)="limitEmp(limit.value)">
                                        แสดง {{ limit.value }} รายการ
                                    </button>
                                </li>
                            </ul>
                        </div>

                        <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'"
                            [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'"
                            [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize"
                            [count]="rowCount" [hidden]="!(rowCount / pageSize > 1)"
                            (change)="tableBills.onFooterPage($event)">
                        </datatable-pager>
                    </ng-template>
                </ngx-datatable-footer>
                <ngx-datatable-column prop="customer_name" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ชื่อลูกค้า</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="price" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ยอดขาย</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="total_price" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ราคาทั้งสิน</span>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column prop="status" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>สถานะบิล</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                        <span class="badge tag-box"
                            [ngClass]="row.status == 'ไม่ถูกรางวัล' ? 'lose' : row.status == 'ถูกรางวัล' ? 'win' : row.status == 'รอผล' ? 'wait' : '' ">
                            {{ row.status | titlecase }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="sum_bill" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>กำไร/ขาดทุน</span>
                    </ng-template>
                    <ng-template class="text-center" ngx-datatable-cell-template let-row="row" let-value="value"
                        let-rowIndex="rowIndex">
                        <span style="color: green;"
                            *ngIf="!((row?.sum_bill?.reward == undefined ? 0 - row?.total_price : row?.sum_bill?.reward - row?.total_price) | negativNumber)">{{
                            row?.sum_bill?.reward == undefined ? 0 - row?.total_price : row?.sum_bill?.reward -
                            row?.total_price }}</span>
                        <span style="color: red;"
                            *ngIf="((row?.sum_bill?.reward == undefined ? 0 - row?.total_price : row?.sum_bill?.reward - row?.total_price) | negativNumber)">{{
                            row?.sum_bill?.reward == undefined ? 0 - row?.total_price : row?.sum_bill?.reward -
                            row?.total_price }}</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="create_at" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>วันที่สร้าง</span>
                    </ng-template>
                    <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                        <p>{{ row.create_at | dateFormat: 'DD/MM/YYYY' }}</p>
                        <!-- <p>{{ row.create_at | dateFormat: 'h:mm a' }}</p> -->
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="similarity" [sortable]="false">
                    <ng-template ngx-datatable-header-template>
                        <!-- <span>Action / Remark</span> -->
                    </ng-template>

                    <ng-template class="text-center" ngx-datatable-cell-template let-row="row" let-value="value"
                        let-rowIndex="rowIndex">

                        <!-- <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modalCreateContect" (click)="onViewCustomer(rowIndex)">
                            <em class="fa fa-search"></em>
                        </button> -->
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>