<div class="box-header my-3">
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;" class="col-12">
            <div class="col-3">
                <input type="date" class="form-control clsDatePicker" value="2022-08-01" id="txtchangelot">
            </div>

            <div>
                <button type="button" class="btn btn-outline-primary btn">
                <em class="fa fa-floppy-o"></em>
            </button>
            </div>
            
        </div>
    </div>
</div>

<div class="box-content my-3">
    <div class="row">
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลที่ 1</p>
                <div class="box-flex">
                    <h1 class="count-num-left" style="color: #3564af">
                        {{ 620405 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลเลขหน้า 3 ตัว</p>
                <div class="box-flex">
                    <h1 style="color: #3564af">
                        {{ 834 }}
                    </h1>
                    <h1 style="color: #3564af">
                        {{ 159 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลเลขท้าย 3 ตัว</p>
                <div class="box-flex">
                    <h1 style="color: #3564af">
                        {{ 279 }}
                    </h1>

                    <h1 style="color: #3564af">
                        {{ 061 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-0">
            <div class="card-result">
                <p>รางวัลเลขท้าย 2 ตัว</p>
                <div class="box-flex">
                    <h1 class="count-num" style="color: #3564af">
                        {{ 53 }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-data-table my-3">
    <div class="row mt-3">
        <div class="col-12">
            <ngx-datatable class="material ngx-datatable-daily" [loadingIndicator]="isLoadingtablebills"
                [rows]="billsList" [headerHeight]="50" [footerHeight]="0" [rowHeight]="'auto'"
                [columnMode]="'force'">

                <ngx-datatable-column prop="customer_name" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ชื่อลูกค้า</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="price" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ราคาบิล</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="discount" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ส่วนลด</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="total_price" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>ราคาทั้งสิน</span>
                    </ng-template>
                </ngx-datatable-column>


                <ngx-datatable-column prop="discount" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>สถานะบิล</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="discount" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>กำไร/ขาดทุน</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="create_at" [sortable]="true">
                    <ng-template ngx-datatable-header-template>
                        <span>วันที่สร้าง</span>
                    </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column name="similarity" [sortable]="false">
                    <ng-template ngx-datatable-header-template>
                        <!-- <span>Action / Remark</span> -->
                    </ng-template>

                    <ng-template class="text-center" ngx-datatable-cell-template let-row="row" let-value="value"
                        let-rowIndex="rowIndex">

                        <!-- <button type="button" class="btn btn-outline-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#modalCreateContect" (click)="onViewCustomer(rowIndex)">
                            <em class="fa fa-search"></em>
                        </button> -->
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>