<div class="box-header my-3">
    <div class="row">
        <div style="display: flex; align-items: center; justify-content: space-between; gap: 20px;" class="col-12">
            <div class="col-3">
                <input type="date" class="form-control clsDatePicker" value="2022-08-01" id="txtchangelot">
            </div>

            <div>
                <button type="button" class="btn btn-outline-primary btn">
                <em class="fa fa-floppy-o"></em>
            </button>
            </div>
            
        </div>
    </div>
</div>

<div class="box-content my-3">
    <div class="row">
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลที่ 1</p>
                <div class="box-flex">
                    <h1 class="count-num-left" style="color: #3564af">
                        {{ 620405 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลเลขหน้า 3 ตัว</p>
                <div class="box-flex">
                    <h1 style="color: #3564af">
                        {{ 834 }}
                    </h1>
                    <h1 style="color: #3564af">
                        {{ 159 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-3 mt-md-0">
            <div class="card-result">
                <p>รางวัลเลขท้าย 3 ตัว</p>
                <div class="box-flex">
                    <h1 style="color: #3564af">
                        {{ 279 }}
                    </h1>

                    <h1 style="color: #3564af">
                        {{ 061 }}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 mt-0">
            <div class="card-result">
                <p>รางวัลเลขท้าย 2 ตัว</p>
                <div class="box-flex">
                    <h1 class="count-num" style="color: #3564af">
                        {{ 53 }}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box-data-table my-3">

</div>